
<a href="/add-model">Manage Learning Assistants</a>
<a href="/add-ingestion">Ingest</a>
<a href="/add-query">Query</a>
<a href="/dbmanage">Collections</a>
<a href="/db">DB Manager</a>
<a href="pre-ingestion">Library PDF Ingestion</a>
<a href="add-subtitles">Library SBV Ingestion</a>
<a href="inspect-libs">Inspect libraries</a>
<a href="/new-library">Create new library</a>
<a href="/users">Manage Users</a>
<a href="/logout">Logout</a>
